pyspark>=3.5,<4.0
pyodbc>=5.0
paramiko>=3.0
pyyaml>=6.0
boto3>=1.28
pandas>=2.0
chispa>=0.9.4
pytest>=7.4
pytest-cov>=4.1
pytest-benchmark>=4.0
flake8>=6.0
mypy>=1.5
types-PyYAML>=6.0
types-paramiko>=3.0
apache-airflow>=2.8.0
